# Ignore everything in the runs folder
runs/*

# Ignore everything in the uploads folder
uploads/*

# But keep the folders runs and uploads
!/runs/
!/uploads/

# Ignore pycache
__pycache__/

# Ignore vscode settings
.vscode/

# Ignore github workflows
.github/

# Ignore pytest cache
.pytest_cache/

# Ignore gitignore
.gitignore