# Ignore everything in the runs folder
runs/*

# Ignore everything in the uploads folder
uploads/*

# But keep the folders runs and uploads
!/runs/
!/uploads/

# Ignore pycache
__pycache__/